body{
    background:url("../styles/timer.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 900px;
    text-align: center;
    color: white;
}

#countdown{
    text-align: center;
    font-size: 36px;
}